In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
indra_df = pd.read_csv('indra.csv')

In [21]:
indra_df.head()

         Date  Close   High    Low   Open  Volume
0  2009-02-11  15.64  15.64  15.54  15.61       0
1  2009-02-12  15.01  15.59  15.01  15.52       0
2  2009-02-13  15.53  15.53  15.28  15.30       0
3  2009-02-16  15.63  15.63  15.40  15.44       0
4  2009-02-17  15.28  15.65  15.28  15.43       0

In [31]:
indra_df[['High','Low']].head()

    High    Low
0  15.64  15.54
1  15.59  15.01
2  15.53  15.28
3  15.63  15.40
4  15.65  15.28

In [24]:
indra_df[indra_df['High']>16.0]

           Date  Close   High    Low   Open  Volume
46   2009-05-18  16.05  16.05  15.51  15.62       0
47   2009-05-19  16.12  16.12  15.81  15.81       0
48   2009-05-20  16.49  16.49  16.05  16.20       0
49   2009-05-21  15.90  16.22  15.90  16.10       0
50   2009-05-22  16.15  16.34  16.15  16.15       0
51   2009-05-25  16.28  16.28  16.09  16.16       0
52   2009-05-26  16.33  16.33  16.11  16.14       0
53   2009-05-27  16.48  16.48  16.25  16.25       0
54   2009-05-28  16.25  16.25  15.92  16.19       0
55   2009-05-29  16.05  16.34  16.05  16.10       0
70   2009-07-02  15.52  16.33  15.52  15.85       0
72   2009-07-06  16.02  16.02  15.77  15.86       0
86   2009-07-24  15.97  16.08  15.87  15.96       0
87   2009-07-28  15.79  16.05  15.74  15.80       0
88   2009-07-29  16.01  16.04  15.78  15.79       0
89   2009-07-30  16.13  16.18  15.88  16.10       0
90   2009-07-31  16.14  16.24  15.85  15.99       0
91   2009-08-03  16.28  16.45  16.03  16.14       0
92   2009-08-04  16.44  16.55  16.28  16.28       0
93   2009-08-05  16.35  16.55  16.28  16.49       0
94   2009-08-06  16.36  16.49  16.27  16.48       0
95   2009-08-07  16.14  16.39  16.03  16.31       0
96   2009-08-10  16.30  16.44  16.07  16.12       0
97   2009-08-11  16.36  16.41  16.24  16.35       0
98   2009-08-12  16.53  16.60  16.12  16.36       0
99   2009-08-13  16.68  16.80  16.47  16.47       0
100  2009-08-14  16.22  16.69  16.19  16.63       0
101  2009-08-17  16.06  16.28  16.03  16.09       0
102  2009-08-18  15.98  16.16  15.97  16.13       0
104  2009-08-20  16.01  16.16  15.90  16.16       0
..          ...    ...    ...    ...    ...     ...
187  2009-12-15  15.91  16.02  15.88  16.02       0
188  2009-12-16  16.18  16.18  15.88  15.90       0
189  2009-12-17  15.91  16.26  15.88  16.19       0
191  2009-12-21  16.04  16.06  15.83  15.89       0
192  2009-12-22  16.29  16.29  16.00  16.04       0
193  2009-12-23  16.27  16.40  16.21  16.35       0
194  2009-12-28  16.31  16.38  16.26  16.33       0
195  2009-12-29  16.41  16.43  16.31  16.33       0
196  2009-12-30  16.49  16.49  16.38  16.44       0
197  2010-01-04  16.65  16.70  16.52  16.52       0
198  2010-01-05  16.67  16.74  16.62  16.72       0
199  2010-01-06  16.60  16.74  16.39  16.68       0
200  2010-01-07  16.65  16.76  16.42  16.54       0
201  2010-01-08  16.89  17.17  16.79  16.79       0
202  2010-01-11  16.85  17.14  16.65  17.06       0
203  2010-01-12  16.59  16.90  16.52  16.77       0
204  2010-01-13  16.41  16.53  16.34  16.53       0
205  2010-01-14  16.62  16.72  16.41  16.48       0
206  2010-01-15  16.46  16.61  16.38  16.58       0
207  2010-01-18  16.31  16.55  16.26  16.50       0
208  2010-01-19  16.68  16.72  16.29  16.29       0
209  2010-01-20  16.77  16.96  16.69  16.74       0
210  2010-01-21  16.22  16.90  16.22  16.87       0
211  2010-01-22  16.18  16.54  16.16  16.21       0
212  2010-01-25  16.08  16.25  15.89  16.09       0
213  2010-01-26  16.31  16.43  16.03  16.04       0
214  2010-01-27  16.43  16.51  16.13  16.18       0
215  2010-01-28  15.67  16.37  15.55  16.31       0
264  2010-04-09  16.11  16.11  15.79  15.79       0
266  2010-04-13  16.02  16.02  15.85  15.85       0

[134 rows x 6 columns]

In [32]:
indra_df.min()

Date      2009-02-11
Close          6.103
High           6.319
Low             6.08
Open           6.133
Volume             0
dtype: object

In [33]:
indra_df.max()

Date      2019-06-07
Close          17.82
High           18.19
Low            17.51
Open           17.66
Volume       9550000
dtype: object

In [35]:
indra_df.mean()

Close         11.442424
High          11.579066
Low           11.306822
Open          11.448193
Volume    732276.928599
dtype: float64

In [36]:
indra_df.median()

Close         11.10
High          11.24
Low           10.98
Open          11.10
Volume    624440.00
dtype: float64

In [37]:
indra_df.sort_values('Close')

           Date   Close    High     Low    Open   Volume
841  2012-07-12   6.103   6.420   6.080   6.420  1350000
842  2012-07-13   6.225   6.319   6.101   6.133   773780
839  2012-07-10   6.293   6.459   6.224   6.292  1150000
843  2012-07-16   6.309   6.435   6.214   6.245  1250000
838  2012-07-09   6.340   6.463   6.242   6.350  1510000
837  2012-07-06   6.360   6.832   6.351   6.761  2150000
840  2012-07-11   6.385   6.425   6.286   6.286   997000
844  2012-07-17   6.432   6.528   6.302   6.302   961050
847  2012-07-20   6.501   6.931   6.407   6.810  1380000
848  2012-07-23   6.650   6.788   6.126   6.395  1350000
823  2012-06-18   6.704   7.144   6.700   7.134  1140000
829  2012-06-26   6.730   7.020   6.711   6.908  1100000
845  2012-07-18   6.791   6.850   6.490   6.505  1550000
820  2012-06-13   6.806   7.129   6.752   7.064  2069999
821  2012-06-14   6.821   6.857   6.677   6.780  1120000
836  2012-07-05   6.828   6.993   6.750   6.900  1330000
830  2012-06-27   6.839   7.300   6.633   7.300  1330000
846  2012-07-19   6.850   6.989   6.751   6.800  1550000
824  2012-06-19   6.851   7.006   6.718   6.740  1690000
856  2012-08-02   6.855   7.220   6.790   7.160  1420000
835  2012-07-04   6.918   6.955   6.680   6.730  1990000
849  2012-07-24   6.950   7.115   6.751   6.758  1230000
828  2012-06-25   6.977   7.216   6.950   7.180   824610
831  2012-06-28   6.978   6.978   6.703   6.818  1630000
826  2012-06-21   7.000   7.230   6.930   7.079  1010000
822  2012-06-15   7.018   7.095   6.800   6.876  2610000
857  2012-08-03   7.050   7.084   6.810   6.850   462520
819  2012-06-12   7.070   7.209   7.002   7.110   962280
850  2012-07-25   7.100   7.180   6.965   6.965   831590
812  2012-06-01   7.112   7.396   7.051   7.280  2490000
..          ...     ...     ...     ...     ...      ...
99   2009-08-13  16.680  16.800  16.470  16.470        0
208  2010-01-19  16.680  16.720  16.290  16.290        0
209  2010-01-20  16.770  16.960  16.690  16.740        0
202  2010-01-11  16.850  17.140  16.650  17.060        0
147  2009-10-20  16.870  17.250  16.850  17.230        0
135  2009-10-02  16.870  16.950  16.520  16.700        0
201  2010-01-08  16.890  17.170  16.790  16.790        0
134  2009-10-01  16.940  17.240  16.930  17.060        0
136  2009-10-05  16.950  16.970  16.630  16.880        0
145  2009-10-16  16.970  17.290  16.910  17.130        0
137  2009-10-06  16.990  17.090  16.850  16.970        0
142  2009-10-13  17.060  17.410  17.010  17.330        0
144  2009-10-15  17.080  17.240  17.030  17.120        0
133  2009-09-30  17.080  17.330  16.870  17.060        0
123  2009-09-16  17.090  17.180  16.690  16.690        0
143  2009-10-14  17.140  17.370  17.020  17.170        0
146  2009-10-19  17.150  17.240  16.900  16.900        0
124  2009-09-17  17.170  17.240  17.050  17.190        0
132  2009-09-29  17.170  17.470  17.110  17.470        0
130  2009-09-25  17.170  17.520  16.930  17.520        0
129  2009-09-24  17.250  17.510  17.120  17.470        0
140  2009-10-09  17.260  17.410  17.170  17.340        0
138  2009-10-07  17.260  17.380  16.920  17.110        0
139  2009-10-08  17.380  17.440  17.180  17.300        0
141  2009-10-12  17.380  17.440  17.260  17.310        0
131  2009-09-28  17.420  17.510  16.950  17.070        0
127  2009-09-22  17.430  17.840  17.370  17.660        0
128  2009-09-23  17.520  17.550  17.230  17.380        0
126  2009-09-21  17.680  17.890  17.510  17.570        0
125  2009-09-18  17.820  18.190  17.150  17.190        0

[2605 rows x 6 columns]

In [38]:
indra_df.describe()

             Close         High          Low         Open        Volume
count  2605.000000  2605.000000  2605.000000  2605.000000  2.605000e+03
mean     11.442424    11.579066    11.306822    11.448193  7.322769e+05
std       2.353941     2.354000     2.351463     2.353819  6.940352e+05
min       6.103000     6.319000     6.080000     6.133000  0.000000e+00
25%       9.750000     9.899000     9.600000     9.750000  3.782100e+05
50%      11.100000    11.240000    10.980000    11.100000  6.244400e+05
75%      13.140000    13.280000    13.030000    13.150000  9.495000e+05
max      17.820000    18.190000    17.510000    17.660000  9.550000e+06